<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/admin.css">
    <script src="js/admin.js"></script>
</head>
<body>

<% include iframe/top %>

<div style="position: fixed;top: 50%;left: 50%;transform: translateY(-50%) translateX(-50%);">
    欢迎回来，当前用户数量：<%= locals.userNumber %> (●'◡'●)
</div>

</body>
</html>
