<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>err</title>
</head>
<body>
<h1>你好，<%= locals.islogin %>  请用管理员账号登录</h1>
<a href="/login">前往登录</a>
</body>
</html>